VITE_SUPABASE_URL=https://xtvzgqkkmztaagbiewuz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0dnpncWtrbXp0YWFnYmlld3V6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NTc1MzgsImV4cCI6MjEwNjIzMzUzOH0.GJwupAfTOYp69NaGQuTu9aV2as45Jk56ah88xNzhjD0